*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-background: #15120a;
    --primary-text: #EDECEC;
    --font: cursor;
}
@font-face {
    font-family: cursor;
    src: url(./assets/fonts/CursorGothic_Regular-s.p.a361088d.ttf);
}
body{
    background-color: var(--primary-background);
    color: var(--primary-text);
}

nav{
    background-color: #14120b;
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    width: 95.75px;
    display: flex;
    align-items: center;
    gap: 3px;
    height: 35px;
}

/* .logo video{
    height: 45px;
} */

.logo img{
    height: auto;
}

.logo:hover{
    cursor: pointer;
    
}

.center-nav{
    display: flex;
    align-items: center;
}

.link{
    color: var(--primary-text);
    font-family: var(--font);
    font-size: 9px;
    font-weight: 500;
    text-decoration: none;
    padding: 5.6px 12px;
}

.link:hover{
    color: #ccc;
    cursor: pointer;
}

.CTAs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    gap: 4px;
}

nav div button{
    border: none;
    border-radius: 20px;
    font-size: 10px;
    padding: 3px 7px;
    cursor: pointer;
}

#signin{
    background-color: var(--primary-background);
    color: var(--primary-text);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#signin:hover{
    background-color: #22201a;
}
#download:hover{
    background-color: #d7d7d7;
}

.big-pictures{
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
}
    
section p{
    width: 624px;
    font-size: 17px;
    font-family: var(--font);
    line-height: 22px;
}

section button{
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 20px;
    width: 160px;
    font-size: 11px;
    margin-bottom: 43px;
}

section button:hover{
    cursor: pointer;
    background-color: #d7d7d7;
}

.terminal-container{
    position: relative;
    width: 92.3%;
    display: inline-block;
}

.terminal-bg{
    width: 100%;
    height: 460px;
    border-radius: 2px;
    display: block;
}

.terminal-big{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 82%;
    max-height: 82%;
    object-fit: contain;
    border-radius: 6px;
}

.terminal-small{
    position: absolute;
    bottom: 7%;
    right: 4.5%;
    max-width: 50%;
    max-height: 50%;
    border-radius: 6px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.trusted-devs{
    margin-left: 72px;
    margin-right: 72px;
}

.trusted-devs p{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 9.7px;
}

.companies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 6px;
}

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    width: 100%;
    background-color: #1a1813;
}

.company img{
    height: 27px;
    width: 50px;
}

.agent-section{
    display: flex;
    height: 455px;
    justify-content: space-between;
    align-items: center;
    margin: 65px 72px;
    padding: 13px;
    background-color: #1a1813;
    border-radius: 2px;
}

.agent-left{
    width: 45%;
    padding: 0px 30px 0px 2.5px;
}

.agent-left p{
    width: auto;
    font-size: 15px;
    font-family: var(--font);
}

.agent-left a{
    margin-top: 13px;
    display: inline-block;
    color: #e2400b;
    font-size: 11px;
    font-family: var(--font);
    text-decoration: none;
}

.agent-right{
    position: relative;
    display: inline-block;
}

.agent-right .agent-bg{
    height: 430px;
    width: 560px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    display: block;
}

.agent-overlay{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 85%;
    border-radius: 6px;
}
.tab-right{
    width: 45%;
    padding: 0px 30px 0px 2.5px;
}

.tab-right p{
    width: auto;
    font-size: 15px;
    font-family: var(--font);
}

.tab-right a{
    margin-top: 13px;
    display: inline-block;
    color: #e2400b;
    font-size: 11px;
    font-family: var(--font);
    text-decoration: none;
}



.eco-section{
    display: flex;
    height: 455px;
    justify-content: space-between;
    align-items: center;
    margin: 65px 72px;
    padding: 13px;
    background-color: #1a1813;
    border-radius: 2px;
}

.eco-left{
    width: 45%;
    padding: 0px 30px 0px 2.5px;
}

.eco-left p{
    width: auto;
    font-size: 14px;
    font-family: var(--font);
}

.eco-left a{
    margin-top: 13px;
    display: inline-block;
    color: #e2400b;
    font-size: 11px;
    font-family: var(--font);
    text-decoration: none;
}

.eco-right{
    position: relative;
    display: inline-block;
}

.eco-bg{
    height: 430px;
    width: 560px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    display: block;
}

.tab-section{
    display: flex;
    height: 455px;
    justify-content: space-between;
    align-items: center;
    margin: 65px 72px;
    margin-top: 20px;
    padding: 13px;
    background-color: #1a1813;
    border-radius: 2px;
}

.tab-left{
    position: relative;
    display: inline-block;
}

.tab-right{
    padding-left: 25px;
}

.tab-right p{
    font-size: 14.2px;
}

.tab-bg{
    height: 430px;
    width: 560px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    display: block;
}
.tab-overlay{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 85%;
    border-radius: 6px;
}



.comment-cards{
    margin-top: 90px;
    font-family: var(--font);
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-cards .heading{
    margin-bottom: 26px;
}

.cards{
    display: grid;
    margin: 10px 0px 80px 0px;
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,186px);
    gap: 7px;
}

.card{
    background-color: #1a1813;
    border-radius: 3px;
    padding: 10px 13px 10px 12px;
    display: flex;
    flex-direction: column;
}
.card p{
    font-size: 10.8px;
    line-height: 1.5;
}


.author-section{
    display: flex;
    margin-top: auto;
    padding-top: 20px;
}

.author-section img{
    height: 27px;
    width: 27px;
    border-radius: 3px;
    margin-right: 10px;
}

.author-section p{
    font-size: 9.4px;
}

.author-section p span{
    color: #8b9191;
}

.frontier{
    margin-top: 48px;
    margin-left: 75px;
    margin-right: 70px;
}

.frontier p{
    font-family: var(--font);
    font-size: 17px;
    margin-bottom: 15px;
}

.frontier-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
    
}

.frontier-card{
    background-color: #1a1813;
    border-radius: 3px;
    padding: 12px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card-text p{
    font-size: 10.7px;
    line-height: 1.5;
}

.card-text p span{
    color: #8b9191;
}

.frontier-card img{
    height: 264px;
    width: 100%;
}

.frontier-card a{
    text-decoration: none;
    font-size: 11px;
    color: #e2400b;
    font-family: var(--font);
    margin-bottom: 10px;
}



.changelog{
    margin-top: 120px;
    margin-left: 75px;
    margin-right: 70px;
    font-family: var(--font);
}

.changelog .heading{
    margin-bottom: 15px;
    font-size: 17px;
}

.changelog-cards{
    display: flex;
    gap: 5px;
    width: auto;
}

.changelog-card{
    background-color: #1a1813;
    border-radius: 3px;
    padding: 12px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.changelog-card .date{
    color: #8b9191;
    font-size: 9.5px;
    margin-bottom: 10px;
}

.changelog-card .date span{
    border: 1px solid #8b9191;
    padding: 1px 5px;
    border-radius: 10px;
    margin-right: 9px;
}

.changelog-card .about{
    line-height: 1.5;
}

.changelog a{
    text-decoration: none;
    font-size: 11px;
    color: #e2400b;
    font-family: var(--font);
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 85px;
}

.team-joining{
    margin-left: 75px;
    margin-right: 70px;
    font-family: var(--font);
    margin-bottom: 80px;
}

.team-joining p{
    font-size: 23px;
    line-height: 1.2;
}

.team-joining button{
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 7px 14px;
    font-size: 11px;
    border: none;
    border-radius: 20px;
}

.team-joining button:hover{
    background-color: #d7d7d7;
    cursor: pointer;
}

.team-joining img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}


.highlights-wrapper{
    background-color: #1a1813;
    border-radius: 3px;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-bottom: 90px;
}
.highlights{
    display: flex;
    margin-left: 75px;
    margin-right: 70px;
    /* margin-bottom: 90px; */
    gap: 30px;
    font-family: var(--font);
}

.highlights-sidebar{
    width: 180px;
    flex-shrink: 0;
}

.highlights-sidebar p{
    font-size: 11px;
    color: #cfcccc;
}

.highlights-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.highlight-card{
    background-color: #211f18;
    width: 440px;
    border-radius: 3px;
    padding: 12px 12px;
    padding-right: 20px;
}

.highlight-card:hover{
    background-color: #27251d;
    cursor: pointer;
}

.highlight-title{
    font-size: 10px;
    margin-bottom: 2px;
    color: var(--primary-text);
}

.highlight-description{
    font-size: 11px;
    line-height: 1.5;
    color: #8b9191;
    margin-bottom: 12px;
}

.highlight-meta{
    font-size: 10px;
    color: #8b9191;
}

.highlights-link{
    text-decoration: none;
    font-size: 11px;
    color: #e2400b;
    display: inline-block;
    margin-top: 10px;
}

.highlights-link:hover{
    color: #ff4d1a;
}


.download-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.download{
    text-align: center;
}

.download h1{
    font-family: var(--font);
    font-weight: lighter;
    font-size: 45px;
    margin-bottom: 15px;
}

.download button{
    padding: 7px 14px;
    font-size: 11px;
    border: none;
    border-radius: 20px;
}

.download button:hover{
    background-color: #d7d7d7;
    cursor: pointer;
}