*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-background: #15120a;
    --primary-text: #EDECEC;
}

body{
    background-color: var(--primary-background);
    color: var(--primary-text);
}

nav{
    background-color: #14120b;
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
}

.logo{
    width: 95.75px;
    display: flex;
    align-items: center;
    gap: 3px;
    height: 35px;
}

/* .logo video{
    height: 45px;
} */

.logo img{
    height: auto;
}

.logo:hover{
    cursor: pointer;
    
}

.center-nav{
    display: flex;
    align-items: center;
}

.link{
    color: var(--primary-text);
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    text-decoration: none;
    padding: 5.6px 12px;
}

.link:hover{
    color: #ccc;
    cursor: pointer;
}

.CTAs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    gap: 4px;
}

nav div button{
    border: none;
    border-radius: 20px;
    font-size: 10px;
    padding: 3px 7px;
    cursor: pointer;
}

#signin{
    background-color: var(--primary-background);
    color: var(--primary-text);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#signin:hover{
    background-color: #22201a;
}
#download:hover{
    background-color: #d7d7d7;
}