*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-background: #15120a;
    --primary-text: #EDECEC;
    --font: cursor;
}
@font-face {
    font-family: cursor;
    src: url(./assets/fonts/CursorGothic_Regular-s.p.a361088d.ttf);
}
body{
    background-color: var(--primary-background);
    color: var(--primary-text);
}

nav{
    background-color: #14120b;
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    width: 95.75px;
    display: flex;
    align-items: center;
    gap: 3px;
    height: 35px;
}

/* .logo video{
    height: 45px;
} */

.logo img{
    height: auto;
}

.logo:hover{
    cursor: pointer;
    
}

.center-nav{
    display: flex;
    align-items: center;
}

.link{
    color: var(--primary-text);
    font-family: var(--font);
    font-size: 9px;
    font-weight: 500;
    text-decoration: none;
    padding: 5.6px 12px;
}

.link:hover{
    color: #ccc;
    cursor: pointer;
}

.CTAs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    gap: 4px;
}

nav div button{
    border: none;
    border-radius: 20px;
    font-size: 10px;
    padding: 3px 7px;
    cursor: pointer;
}

#signin{
    background-color: var(--primary-background);
    color: var(--primary-text);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#signin:hover{
    background-color: #22201a;
}
#download:hover{
    background-color: #d7d7d7;
}

.big-pictures{
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
}
    
section p{
    width: 624px;
    font-size: 17px;
    font-family: var(--font);
    line-height: 22px;
}

section button{
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 20px;
    width: 160px;
    font-size: 11px;
    margin-bottom: 43px;
}

section button:hover{
    cursor: pointer;
    background-color: #d7d7d7;
}

.terminal-container{
    position: relative;
    width: 92.3%;
    display: inline-block;
}

.terminal-bg{
    width: 100%;
    height: 460px;
    border-radius: 2px;
    display: block;
}

.terminal-big{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 82%;
    max-height: 82%;
    object-fit: contain;
    border-radius: 6px;
}

.terminal-small{
    position: absolute;
    bottom: 7%;
    right: 4.5%;
    max-width: 50%;
    max-height: 50%;
    border-radius: 6px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.trusted-devs{
    margin-left: 72px;
    margin-right: 72px;
}

.trusted-devs p{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 9.7px;
}

.companies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 6px;
}

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    width: 100%;
    background-color: #1a1813;
}

.company img{
    height: 27px;
    width: 50px;
}

.agent-section{
    display: flex;
    height: 455px;
    justify-content: space-between;
    align-items: center;
    margin: 65px 72px;
    padding: 13px;
    background-color: #1a1813;
    border-radius: 2px;
}

.agent-left{
    width: 45%;
    padding: 0px 30px 0px 2.5px;
}

.agent-left p{
    width: auto;
    font-size: 15px;
    font-family: var(--font);
}

.agent-left a{
    margin-top: 13px;
    display: inline-block;
    color: #e2400b;
    font-size: 11px;
    font-family: var(--font);
    text-decoration: none;
}

.agent-right{
    position: relative;
    display: inline-block;
}

.agent-right .agent-bg{
    height: 430px;
    width: 560px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    display: block;
}

.agent-overlay{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 85%;
    border-radius: 6px;
}




.eco-section{
    display: flex;
    height: 455px;
    justify-content: space-between;
    align-items: center;
    margin: 65px 72px;
    padding: 13px;
    background-color: #1a1813;
    border-radius: 2px;
}

.eco-left{
    width: 45%;
    padding: 0px 30px 0px 2.5px;
}

.eco-left p{
    width: auto;
    font-size: 14px;
    font-family: var(--font);
}

.eco-left a{
    margin-top: 13px;
    display: inline-block;
    color: #e2400b;
    font-size: 11px;
    font-family: var(--font);
    text-decoration: none;
}

.eco-right{
    position: relative;
    display: inline-block;
}

.eco-bg{
    height: 430px;
    width: 560px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    display: block;
}